[submodule "lib/Arduino-cmd-processing"]
	path = lib/Arduino-cmd-processing
	url = https://github.com/shadowroot/Arduino-cmd-processing.git
[submodule "lib/RadioHead"]
	path = lib/RadioHead
	url = https://github.com/jecrespo/RadioHead.git
[submodule "lib/RF433any"]
	path = lib/RF433any
	url = https://github.com/sebmillet/RF433any.git
[submodule "lib/simpleRPC"]
	path = lib/simpleRPC
	url = https://github.com/jfjlaros/simpleRPC.git
[submodule "lib/arduino-simple-rpc"]
	path = lib/arduino-simple-rpc
	url = https://github.com/jfjlaros/arduino-simple-rpc.git
